* {
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
  user-select:none;
}

div {
  color:white;
}

body {
    margin: 0;
    background-color: black;
}

button {
  width: 80px;
  border-radius: 10px;
  border :none;
}

#scoreblock {
  padding: 20px 20px 20px 20px;
}

#high_record {
  padding: 20px 20px 20px 20px;
  text-align: right;
}


#level {
  display: flex;
  align-items:center;
  justify-content:center;
  opacity: 0;
  height: 100px;
  width: 400px;
  position:fixed;
  left: calc(50vw - 200px);
  top: calc(50vh - 50px);
  margin : 0 auto;
  color:white;
}

#levelText{
  font-size: 8em;
}

span {
  color: inherit;
  cursor: default;
}

.container-fluid{
  position: fixed;
}